.back {
  background-color: black;
  font-family: "Trebuchet MS", monospace;
}

img {
  height: auto;
  width: 500px;
  border-radius: 15px;
}

.head {
  color: red;
}

.text {
  color: greenyellow;
}
