body {
  background-color: black;
  font-family: "Trebuchet MS", monospace;
}

img {
  height: auto;
  width: 500px;
  border-radius: 15px;
}

h1,
h3 {
  color: red;
}

p,
li {
  color: greenyellow;
}
