.back {
  background-color: black;
  font-family: "Trebuchet MS", monospace;
}

.head {
  color: greenyellow;
}

p {
  color: rgb(255, 0, 140);
  font-weight: bold;
}

.bullet {
  color: yellow;
}

.link {
  color: orange;
}
